{% extends "base.html" %}

{% block content %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 justify-content-center">
    {% for product in products %}
    <div class="col-md-4">
        <div class="card">
            {% if product.image %}
            <img height="150rem" src="{{ product.image.url }}" class="card-img-top" alt="product_img">
            {% endif %}
            <div class="card-body">
                <h4 class="card-title">{{ product.name}}</h4>
                <h5 class="card-title">{{ product.price}}</h5>
                <p class="card-text">{{ product.description| truncatechars:50 }}</p>
                <a href="{{product.get_absolute_url}}" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    </div>


    {% endfor %}
</div>

{% endblock content %}